.right{float: right}
h1 .add_link{font-size: 16px;}
.form-group .logo{width: 30%; display: inline-block}
.form-group img{display: inline-block}
.form-group label{width: 100%}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {width: auto !important}
.col_full { width: 100%; }

.col_half { width: 48%; }

.col_one_third { width: 30.63%; }

.col_two_third { width: 65.33%; }

.col_one_fourth { width: 22%; }

.col_three_fourth { width: 74%; }

.col_one_fifth { width: 16.8%; }

.col_two_fifth { width: 37.6%; }

.col_three_fifth { width: 58.4%; }

.col_four_fifth { width: 79.2%; }

.col_one_sixth { width: 13.33%; }

.col_five_sixth { width: 82.67%; }
label span {
    display: block;
    font-size: 12px;
    font-weight: 100;
    text-transform: none;
}
.col_last {

	margin-right: 0 !important;

	clear: right;

}
.postcontent,

.col_full,

.col_half,

.col_one_third,

.col_two_third,

.col_three_fourth,

.col_one_fourth,

.col_one_fifth,

.col_two_fifth,

.col_three_fifth,

.col_four_fifth,

.col_one_sixth,

.col_five_sixth {

	display: block;

	position: relative;

	margin-right: 4%;

	float: left;

}



.postcontent,




.col_full {

	clear: both;

	float: none;

	margin-right: 0;

}
.checkbox input[type="checkbox"] {
    margin-left: 0 !important;
}
.color_list_inner .text label {
    float: left;
    width: 74px;
    line-height: 32px;
}
.color_list_inner {
    display: block;
}
.color_list_inner .text {
    display: inline-block;
    width: 200px;
}
.file {
    position: absolute;
    visibility: hidden;
}

#preloader_photo, #preloader{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999999;background:rgba(255,255,255,0.8)}
#status{width:128px;height:128px;position:absolute;left:50%;top:50%;background-image:url(../../img/preload.gif);background-repeat:no-repeat;background-position:center;margin:-7.5px 0 0 -80px}

.feat.dl-horizontal dt {width: 230px; }
.filter_form .input-group-addon, .filter_form .input-group-btn{vertical-align: bottom;margin: 25px 0 0;}

.ui-sortable tr{ cursor: move;}